.avatar {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.userAvatar {
  height: 20rem;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.articleImg {
  height: 50%;
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .userAvatar {
    height: 10rem;
    width: 50%; 
    padding: 1rem 1rem 0 1rem; 
    margin-top: 2.5rem;
  }

  .articleImg {
    width: 100%;
  }
}