.avatar {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.userAvatar {
  height: 20rem;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

@media only screen and (max-width: 600px) {
  .userAvatar {
    height: 20rem;
    width: 20rem;
    padding: 0;
    margin: 2.5rem;
  }

  .userTitle {
    font-size: 2rem;
  }
}