.navLink {
    color: #fff;
    margin-right: 2rem;

    transition: transform 0.15s;

    @media (max-width: 500px) {
        margin-left: 2rem;
    }
}

.footerLink {
    margin-right: 2rem;

    transition: transform 0.15s;

    @media (max-width: 500px) {
        margin-left: 2rem;
    }
}

.currentUser {

    color: #fff;

    @media (max-width: 500px) {
        margin-left: 2rem;
    }
}

.navLink:hover, .activeLink {
   color: red;
}

.arrowIcon {
    cursor: pointer;
    font-size: 2rem;
}
