@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.btn {
  border: none;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 4px;
}

.like-btn:hover {
  color: #008000;
}

.dislike-btn:hover {
  color: #ff0000;
}


.like-active {
  color: #008000;
}

.dislike-active {
  color: #ff0000;
}

@media only screen and (max-width: 767px) {
  .like-btn:hover,
  .dislike-btn:hover {
    color: inherit; 
  }
}